<div class="welcome">
    <span>
        {{welcomeMessage}}
    </span>
</div>
<div class="content">
    <p>
        In this page you can increase your knowledge about your
        favorite artists albums, and also, the price of them, if you plan to buy any. 
    </p>
    <p>
        Have fun discovering their music trayectory, registered so far in ITunes.
    </p>
    <p>
        All data is recovered from ITunes Apple Search API, for more information visit them at: <a href="https://affiliate.itunes.apple.com/">Apple Services Performance Partners</a>
    </p>

</div>

