.order-container {
    border-top: 10px;
    height: 100px;
}

.asc{
    float:left;
    width: 50%;
    text-align: right;
    padding: 20px;
}

.des{
    float:right;
    width: 50%;
    text-align: left;
    padding: 20px;
}