<body>
    <div class="container">
        <app-search-artist-albums (requestedArtistAlbums)="searchArtistAlbums($event)"></app-search-artist-albums>
    <div *ngIf="hasAlbumsToShow() && wasRequested">
        <app-order-result-options (orderResults)="orderByCriteria($event)"></app-order-result-options>
        <div class="row justify-content-center">
            <app-album-item *ngFor='let album of albums | paginate: {itemsPerPage: pageNumber, currentPage: actualPage}' [album]="album" class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
            </app-album-item>
        </div>
        <div class="pagination-options">
            <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
            <button (click)="decreasePerPage()">-</button>
            <input [value]="pageNumber">
            <button (click)="increasePerPage()">+</button>
        </div>
    </div>
    <div *ngIf="!hasAlbumsToShow() && wasRequested">
        <app-empty-result></app-empty-result>
    </div>
    <div *ngIf="!wasRequested">
        <app-welcome-text></app-welcome-text>
    </div>
    </div>
</body>



